body {
    background-color: black;
}

h1 {
    color: red;
}

h1:hover {
    background-color: fuchsia;
}

/*Multiple Selectors*/
h1:hover, h2:hover {
color: hotpink;
}

h2 {
    color: #B32FF5;
}

h3 {
    color: #F55D2F;
}

h4 {
    color: #FFD930
}

p {
    color: #4DBBFF;
}

a {
    color: #38E841;
}

#bottom-paragraph {
    color: whitesmoke;
}
